<%= render 'shared/navigation_bar' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="container">
	<div class="row main">
		<div class="main-login main-center">
			<form class="form-horizontal" method="post" action="#">

        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :class => "flash alert alert-warning", :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>

        <div class="panel-title text-center">
          <h1 class="title">Log In</h1>
          <hr/>
        </div>

				<div class="form-group">
          <%= f.label :email, "Your Email", :class => "cols-sm-2 control-label", :for => "email" %>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <%= f.email_field :email, autofocus: true,
              :type => "text", :class => "form-control", :id => "email", :placeholder =>"Enter your Email"%>
						</div>
					</div>
				</div>

				<div class="form-group">
          <%= f.label :password, "Password", :class => "cols-sm-2 control-label", :for => "confirm" %>
					<div class="cols-sm-10">
						<div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>

              <%= f.password_field :password, :autocomplete => "off",
              :type => "password", :class => "form-control", :id => "confirm", :placeholder =>"Password" %>

						</div>
					</div>
				</div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

				<div class="form-group ">
          <%= f.submit "Login", :class => "btn btn-primary btn-lg btn-block login-button", :type => "submit" %>
				</div>

				<div class="login-register">
		      <%= render "users/shared/links" %>
		    </div>
			</form>

		</div>
	</div>
</div>

<% end %>
