<%= render 'shared/navigation_bar' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="container">
	<div class="row main">
		<div class="main-login main-center">
			<form class="form-horizontal" method="post" action="#">

        <%= devise_error_messages! %>

        <div class="panel-title text-center">
          <h1 class="title">Sign Up</h1>
          <hr/>
        </div>

				<div class="form-group">
					<%= f.label :first_name, "First name", :class => "cols-sm-2 control-label", :for => "first_name" %>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
							<%= f.text_field :first_name, autofocus: true,
							:type => "text", :class => "form-control", :id => "first_name", :placeholder =>"First name"%>
						</div>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :last_name, "Last name", :class => "cols-sm-2 control-label", :for => "last_name" %>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
							<%= f.text_field :last_name, autofocus: true,
							:type => "text", :class => "form-control", :id => "last_name", :placeholder =>"Last name"%>
						</div>
					</div>
				</div>

				<div class="form-group">
          <%= f.label :email, "Your University Email", :class => "cols-sm-2 control-label", :for => "email" %>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <%= f.email_field :email, autofocus: true,
              :type => "text", :class => "form-control", :id => "email", :placeholder =>"Enter your University Email"%>
						</div>
					</div>
				</div>

				<div class="form-group">
          <%= f.label :password, :class => "cols-sm-2 control-label", :for => "password" do %>
           Password <% if @minimum_password_length %>(<%= @minimum_password_length %> characters minimum)<% end %>
          <% end %>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>

              <%= f.password_field :password, :autocomplete => "off",
              :type => "password", :class => "form-control", :id => "password", :placeholder =>"Enter your Password" %>
						</div>
					</div>
				</div>

				<div class="form-group">
          <%= f.label :password_confirmation, "Confirm Password", :class => "cols-sm-2 control-label", :for => "confirm" %>
					<div class="cols-sm-10">
						<div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>

              <%= f.password_field :password_confirmation, :autocomplete => "off",
              :type => "password", :class => "form-control", :id => "confirm", :placeholder =>"Confirm your Password" %>

						</div>
					</div>
				</div>

				<div class="form-group ">
          <%= f.submit "Start sweating!", :class => "btn btn-primary btn-lg btn-block login-button", :type => "submit" %>
				</div>

				<div class="login-register">
		      <%= render "users/shared/links" %>
		    </div>
			</form>

		</div>
	</div>
</div>
<% end %>
