<%= render 'shared/navigation_bar' %>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

<div class="container">
	<div class="row main">
		<div class="main-login main-center">
			<form class="form-horizontal" method="post" action="#">

        <%= devise_error_messages! %>

        <div class="panel-title text-center">
          <h1 class="title">Resend unlock Instructions</h1>
          <hr/>
        </div>

				<div class="form-group">
          <%= f.label :email, "Your Email", :class => "cols-sm-2 control-label", :for => "email" %>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <%= f.email_field :email, autofocus: true,
              :type => "text", :class => "form-control", :id => "email", :placeholder =>"Enter your Email"%>
						</div>
					</div>
				</div>

				<div class="form-group ">
          <%= f.submit "Resend unlock instructions", :class => "btn btn-primary btn-lg btn-block login-button", :type => "submit" %>
				</div>

				<div class="login-register">
		      <%= render "users/shared/links" %>
		    </div>
			</form>

		</div>
	</div>
</div>

<% end %>
