<!-- Navigation bar -->
<%= render "shared/navigation_bar" %>

<!-- Pop up for event creation -->
<%= render "shared/create_event_popup" %>

<!-- Profile -->
<%= render "profile" %>

<div class="container-fluid">

  <!-- Display feed of events -->
  <%= render "created_events" %>

  <!-- Display feed of events -->
  <%= render "joined_events" %>

</div>
